.body
{

		background:mediumpurple
}
.gly
{
	font-size:36px;color:white;margin-left:0px;margin-top: 20px
}
.h1
{
	background:mediumpurple; color: white;
}
.div2
{
	background-color: white;border-radius: 5px
}
.f1
{
	background-color: white;border-radius: 5px
}
.si
{
	background:mediumseagreen
}
.for
{
	color:white
}
.don
{
	color:white
}
.di
{
	background-color:black
}
.ph
{
	color: white;margin-top: 20px;margin-bottom: -100px
}
.try
{
	margin-right: 50px
}
.navi2
{
	background-color: black;margin-top: -;margin-bottom: 10px
}
.can
{
	margin-right: 30px;margin-left: 50px;color: white
}
.home
{
	color: white
}
.notbold
{
	font-weight: normal;
}

